span {
  text-decoration: underline;
}

#champ-preview {
  float: left;
  width: 200px;
  height: 550px;
  display: block;
  margin-left: 882px;
  position: fixed;
  border: 4px solid black;
  text-align: left;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

/* rating scale */
.rating {
  margin-top: 5%;
  border: 1px #999 solid;
  display: none;
  font-size: 0;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  background: linear-gradient(to right, #0f0, #ff0, #f00);
}
.rating input {
  display: none;
}
.rating label {
  display: flex;
  width: 100px;
  height: 20px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  cursor: pointer;
}
.rating label {
  border-left: 1px #999 solid;
  transition: 0.3s;
}

/* selects all elements preceded by the checked label*/
.rating .checked ~ label {
  background: none;
  color: #fff;
}
